<!DOCTYPE html>
<html lang="en">
<head>
    <title>Git Key</title>
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.1.0/css/bootstrap.min.css"
          integrity="sha384-9gVQ4dYFwwWSjIDZnLEWnxCjeSWFphJiwGPXr1jddIhOegiu1FwO5qRGvFXOdJZ4" crossorigin="anonymous">

    <script src="https://code.jquery.com/jquery-3.3.1.slim.min.js"
            integrity="sha384-q8i/X+965DzO0rT7abK41JStQIAqVgRVzpbzo5smXKp4YfRvH+8abtTE1Pi6jizo"
            crossorigin="anonymous"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.14.0/umd/popper.min.js"
            integrity="sha384-cs/chFZiN24E4KMATLdqdvsezGxaGsi4hLGOzlXwp5UZB1LY//20VyM2taTB4QvJ"
            crossorigin="anonymous"></script>
    <script src="https://stackpath.bootstrapcdn.com/bootstrap/4.1.0/js/bootstrap.min.js"
            integrity="sha384-uefMccjFJAIv6A+rW+L4AHf99KvxDjWSu1z9VI8SKNVmz4sk7buKt/6v9KI65qnm"
            crossorigin="anonymous"></script>
</head>
<body>
<div class="container">
    <div class="form-group">
        <label for="publickey">Uniq key id:</label>
        <input class="form-control" type="text" value="{{ .Token }}" readonly>
    </div>
    <div class="form-group">
        <label for="publickey">Public Key:</label>
        <div class="input-group">
            <input id="publickey" type="text" class="form-control" name="key" value="{{ .Key }}" readonly>
            <div class="input-group-append">
                <button class="btn btn-outline-secondary" type="button" id="copy-button" title="Copy to Clipboard">
                    Copy
                </button>
            </div>
        </div>
    </div>
    <form method="post" action="{{ .CloneUrl }}">
        <div class="form-group">
            <label for="git-url">Git url</label>
            <input type="text" class="form-control" id="git-url" name="git-url" placeholder="https:// or git">
        </div>
        <div class="form-group">
            <label for="path-note">Path to main tex file(without .tex)</label>
            <input type="text" class="form-control" id="path-note" name="path-note" placeholder="example: src/note">
        </div>
        <button type="submit" class="btn btn-primary">Send</button>
    </form>
</div>
<script type="text/javascript">
    $(document).ready(function () {
        $('#copy-button').on('click', copyKey);
        $('#publickey').on('focus', copyKey)
                .on('blur', blurKeyInput);
    });

    function copyKey() {
        var publickey_input = $('#publickey');
        publickey_input.select();
        document.execCommand("copy");
        publickey_input.tooltip({
            title: 'coppied',
            trigger: 'manual'
        }).tooltip('show');
    }

    function blurKeyInput() {
        $('#publickey').tooltip('hide');
    }
</script>
</body>
</html>